:root {
    --main-color : black;
}
/* logo */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    

}

header .logo span {
    font-size: 25px;
    font-weight: bold;
}
header .logo p {
    font-size: 16px;
    font-weight: 500;
}

/* menu */
@media (max-width:999px) {
    header .menu , header .search , header .account {
        display: none;
    }

}
header .menu ul{
    display: flex;
    cursor: pointer;

}
header  ul a {
    color: black;
}
header .menu ul li {
    margin-left:  15px;
    font-size: 17px;
    font-weight: 600;
    padding: 5px 5px;

} 
header .menu ul li:hover {
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 5px;
}
/* tool */
header .tool {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
@media (max-width: 998px) {
    header .logo {
        width: 80%;
    }
}
header .tool .account {
    margin: 0px 15px;
}
header .tool .sale , .tool .usericon {
    font-size: 25px;
    cursor: pointer;
}
header .tool .sale {
    position: relative;
}
header .tool .sale::after{
    content: attr(data-count);
    color: white;
    position: absolute;
    width: 5px;
    height: 5px;
    font-size: 14px;
    top: 0;
    left: 50%;
    transform: translateY(50%);
    
}
header .usericon , header .loginlink {
    padding: 0 10px;
    cursor: pointer
}
header .searchcontent {
    position: relative;
    width: 70%;
}
header .search form {
    width: 90%;
}
header .iconsearch {
    position: absolute;
    right: 0;
    /* left: 0; */
    top: 50%;
    transform: translateY(-50%);
}
header input[type='text'] {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    outline: none;
    
}
/* menu mobile */

header .menumobile .menucontent {
    display: none;
}
header .iconmenutow {
    font-size: 30px;
    margin-left: 15px;
    z-index: 10;
}
@media (min-width: 998px) {
    header .iconmenutow {
        display: none;
    }
}
header .searchmobilecontent {
    position: relative;
}
header .searchmobile {
    width: 100%;
}
@media (min-width: 998px) {
    header .searchmobile {
        display: none;
    }
}
/* open menu */
.open {
    display: block !important;
    position: absolute;
    background-color: white;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
}
.show {
    display: block !important;
}
.ulmobilemenu {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.ulmobilemenu li:hover {
    background-color: black;
    color: white;
    padding: 5px 5px;
    border-radius: 10px;
}
.ulmobilemenu li {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}
.closeicon {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

/* packet */
.packet {
    position: fixed;
    right: 0;
    background-color: white;
    color: black;
    top: 0;
    height: 100vh;
    width: 300px;
    z-index: 20;
    display: none;
    
}
.packet header {
    margin: 0;
}
.packet header .content {
    background-color: black;
    display: flex;
    height: 100px;
    width: 100%;
    margin:0;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.packet header .content h1 {
    font-size: 25px;
    margin-right: 71px;
    font-weight: 600;
}
.packet header .content .iconAngel {
    font-size: 25px;
    cursor: pointer;
}
.openPacket {
    display: block !important;
}
.packet .cartProduct {
    display: flex;
    margin: 16px;
    height: 67px;
    /* justify-content: center; */
    /* width: 181%; */
    align-items: center;
    position: relative;
    
    
}
.packet .cartProduct .text {
    display: flex;
    flex-direction: column;
}
.packet .cartProduct .img img {
    width: 35px;
}
.packet .cartProduct .img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
   
    height: 100%;
    width: 147px;
}
.packet .cartProduct h2 {
    font-size: 15px;
    margin: 0;
    color: rgb(163, 160, 160);
}
.packet .cartProduct span {
    font-weight: 600;
    font-size: 15px;
    width: 500px;
}
.packet .cartProduct input {
    width: 50px;
    outline: none;
    border: 1px solid black;

}
/* basket */
.emptyBasket {
    font-size: 18px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
.emptyBasket h1 {
    font-size: 20px;
    margin: 0;
    font-weight: 600;
}

.packet .content .calcTotol  {
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 100%;
    background-color: white;
    z-index: 5;
    
}
.packet .content .calcTotol span {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
    padding-top: 10px;
    margin-left: 15px;
    
}
.packet .content .calcTotol button {
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 17px;
    padding: 5px;
    font-weight: 600;
    margin: 0 15px;
    width: 100%;
}
.packet .content .calcTotol button:hover {
    opacity: 0.5;
}
.packet .allProduct {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.cartProduct .removeProduct {
    position: absolute;
    right: 4px;
    top: 0;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 /* Search */

.searchProduct {
    margin: 50px 20px;
    background-color: #dfdfdf;
    padding: 5px;
    border: 1px solid #bdb9b9;
    border-radius: 20px;
}

.searchProduct h1 {
    font-size: 27px;
    padding: 5px;

}
.searchProduct .result {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchProduct .result  h2 {
    font-size: 20;

}